<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row">
    <div class="col-12">
      <h1>About</h1>
      <h3 class="mt-5 mb-3">サイトテーマ</h3>
      <p>ものの作り方や手順を検索したり、自分が知っているものの作り方を投稿できるコミュニティサイトです。</p>
      <p>
        ノートを共有することで、自分だけでは気付けなかった間違えなどに気が付きやすくなります。
        また、他の人のノートを見て、新しいモノづくりの知識を得ることもできます。
      </p>
      <p>このアプリを通して、新しい気付きや発見があれば幸いです。</p>
      <h3 class="mt-5 mb-3">ターゲットユーザ</h3>
      <ul>
        <li>ものの作り方が知りたい方</li>
        <li>もの作りが好きな方</li>
      </ul>
      <h3 class="mt-5 mb-3">主な利用シーン</h3>
      <ul>
        <li>ものの作り方を検索する時</li>
        <li>手順を記録しておきたい時</li>
      </ul>
    </div>
  </div>
</div>