<div class="container my-5 bg-white p-5 rounded-lg">
  <div class="row">
    <div class="col-8">
      <h2><%= @category.name %></h2>
    </div>
    <div class="col-4">
      <!--現在のユーザーとページのユーザーが同じなら-->
      <% if current_customer == @category.customer %>
        <%= link_to "編集", edit_category_path(@category) , class: "btn btn-sm btn-success" %>
        <%= link_to "削除", category_path(@category) ,method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% @category.notes.order(:title).each do |note| %>
        <!--ノートの公開ステータスが公開、または現在のユーザーとページのユーザーが同じなら-->
        <% if (note.publish_status == "publish") || (current_customer == note.customer) %>
          <p class="pl-3 mt-3"><i class="fa-regular fa-file"></i> <%= link_to note.title , note_path(note),class: "text-dark" %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>