@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// 以下css記述

// ノート投稿フォーム
.h-title {
  margin: 0 1.5em;
  word-wrap: break-word;
}

.h-frame {
  margin: 1em 2em;
  padding: 0.4em 0.5em;
  background-color: #f4f4f4;
  border-left: solid 5px #eecc00;
  border-bottom: solid 3px #d7d7d7;
}

.h-double {
  margin: 2em 2.5em 1em;
  padding: 0.3em 0.6em;
  border-left: solid 5px #ffdd00;
  word-wrap: break-word;
}

.text {
  margin: 1em 4em 0;
  word-wrap: break-word;
}

//コメントとメモ
// タイトル
.comment-title {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5em;
  background-color: rgba(255,150,0,0.5);
}

.memo-title {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5em;
  background-color: rgba(255,220,0,0.5);
}

// 背景
.comment-background {
  background-color: rgba(255,150,0,0.1);
}

.memo-background {
  background-color: rgba(255,220,0,0.1);
}

// 枠線(他の人のコメント)
.other-comment{
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  word-wrap: break-word;
}

.other-comment::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.other-comment::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 20px;
  border-right: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

// 枠線(自分のコメント)
.my-comment{
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  word-wrap: break-word;
}

.my-comment::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid #000;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.my-comment::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -12px;
  top: 20px;
  border-left: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

// メモ枠線
.memo {
  border: 2px solid #000;
  word-wrap: break-word;
}


// エラーメッセージ
.error-message {
  color: #f00;
  list-style: none;
}

.field_with_errors {
  display: contents;
}

// フラッシュメッセージ
.notice-blue {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(0,200,255,0.5);
}

.notice-red {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(255,0,100,0.5);
}

.notice-green {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(100,255,0,0.5);
}

// ページネーション
.pagination {
  margin-top: 5%;
  justify-content: center;
}

.pagination li a {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  color: #777;
}

.pagination .active a {
  background: #9df;
  border-radius: 15px;
}

.pagination li a:hover {
  border-radius: 15px;
}

// レスポンシブ対応
@media screen and (max-width: 767px){
  // テーブルのレスポンシブ対応
  table {
  display: block;
  }
  table .thead {
    display: none;
  }
  table tbody {
    display: block;
  }
  table tr {
    display: block;
  }
  table td {
    display: block;
  }
  table td:first-child {
    color:#fff;
    background-color: #212529;
    text-align: center;
  }
  table td:last-child {
    text-align: center;
    padding-top: 0;
  }
  table td:before {
    content: attr(data-label);
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  // ボタンサイズ
  .btn-size {
    padding: 4px;
  }

  // ノート投稿フォーム
  .h-title {
    width: 100%;
    margin: 0 0.1em;
    word-wrap: break-word;
    font-size: 28px;
  }

  .h-frame {
    margin: 1em 0;
    padding: 0.4em 0.5em;
    background-color: #f4f4f4;
    border-left: solid 5px #eecc00;
    border-bottom: solid 3px #d7d7d7;
    font-size: 24px;
  }

  .h-double {
    margin: 2em 0 1em;
    padding: 0.3em 0.6em;
    border-left: solid 5px #ffdd00;
    word-wrap: break-word;
    font-size: 20px;
  }

  .text {
    margin: 1em 1em 0;
    word-wrap: break-word;
  }

  // ブロック要素化
  .block {
    display: block;
  }

  // コメント画像
  .comment-image-size {
    width: 40px;
    height: 40px;
  }

  // コメントフォント
  .comment-font-size {
    font-size: 8px;
  }

  // 枠線(他の人のコメント)
  .other-comment{
    position: relative;
    padding: 8px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    word-wrap: break-word;
  }

  // 枠線(自分のコメント)
  .my-comment{
    position: relative;
    padding: 8px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    word-wrap: break-word;
  }

  // フォントサイズ
  .h1-font-size {
    font-size: 28px;
  }

  .h2-font-size {
    font-size: 26px;
  }

  .h3-font-size {
    font-size: 24px;
  }

  // 文字はみ出し対策
  .stick-out {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}