@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// 以下css記述

.h-title {
  margin: 0 1.5em;
}

.h-frame {
  margin: 1em 2em;
  padding: 0.4em 0.5em;
  background-color: #f4f4f4;
  border-left: solid 5px #eecc00;
  border-bottom: solid 3px #d7d7d7;
}

.h-double {
  margin: 2em 2.5em 1em;
  padding: 0.3em 0.6em;
  border-left: solid 5px #ffdd00;
}

.text {
  margin: 1em 4em 0;
}
