<% if note.errors.any? %>
  <ul class="pl-0">
    <% note.errors.full_messages_for(attribute).each do |message| %>
      <li class="error-message"><%= "※ #{message}" %></li>
    <% end %>
  </ul>
<% end %>